/*
 *= require 2013/bootstrap
 *= require 2013/bootstrap-responsive
 */

/*!
 * Copyright 2013 @no1aran.
 * Based on Design by @round_kmdr.
 */

body {
    background-color: #e35444;
    background-image: url(../../images/2013/g-body.png);
    background-position: center bottom;
    background-repeat: no-repeat;
    color: #553939;
}

h3 {
    line-height: 1.0;
}

.container {
    max-width: 640px;
}

.g-head {
    text-align: center;
    margin-top: 20px;
}

.g-head h1 {
    display: none;
}

table.g-nut {
    margin: 0;
    width: 100%;
}

.g-nut td {
    font-size: 48px;
    font-weight: bold;
    letter-spacing: -1px;
    text-align: center;
    height: 74px;
}

textarea {
    width: 470px;
}

.g-nut td.td-first {
    text-align: left;
    width: 21%;
}

.g-nut td.td-second {
    text-align: left;
    width: 29%;
}

.g-nut td.td-third {
    text-align: left;
    width: 27%;
}

.g-nut td.td-last {
    text-align: right;
    width: 22%;
}

.g-nut td a {
    color: #fbf6e0;
    line-height: 0.8;
}

.g-nut td a:hover {
    color: #8bcdbf;
    text-decoration: none;
    border-bottom: 2px solid #8bcdbf;
}

.g-neck {
    background-color: #fbf6e0;
    background-image: url(../../images/2013/g-neck.jpg);
    background-position: center top;
    padding: 20px 20px 0 20px;
}

.g-neck h2 {
    display: none;
}

.g-neck img.title {
    margin-bottom: 20px;
}

.row-blk {
    zoom: 0;
}

.row-blk:after {
    content: '';
    display: block;
    clear: both;
}

.row-blk .left-blk {
    float: left;
    width: 280px;
    margin-bottom: 10px;
}

.row-blk .right-blk {
    float: left;
    max-width: 320px;
}

.map {
    text-align: center;
}

.band {
    zoom: 0;
    margin-bottom: 20px;
}

.band:after {
    content: '';
    display: block;
    clear: both;
}

.band img {
    float: left;
    width: 320px;
    margin-bottom: 10px;
}

.band .desc {
    float: left;
    max-width: 265px;
    margin-left: 15px;
}

.order {
    color: #25a888;
    font-size: 38px;
    font-weight: bold;
    margin-right: 5px;
}

.bname {
    font-size: 24px;
    font-weight: bold;
}

.time {
    font-size: 20px;
}

table.members {
    max-width: 265px;
    margin-bottom: 10px;
}

table.members td {
    text-align: left;
    width: 98px;
    padding-right: 10px;
}

.icon-vo,
.icon-gt,
.icon-ba,
.icon-dr,
.icon-key {
    width: 25px;
    height: 25px;
    background-position: left top;
    background-repeat: no-repeat;
}

.icon-vo {
    background-image: url(/images/2013/icon-vo.png);
}
.icon-gt {
    background-image: url(/images/2013/icon-gt.png);
}
.icon-ba {
    background-image: url(/images/2013/icon-ba.png);
}
.icon-dr {
    background-image: url(/images/2013/icon-dr.png);
}
.icon-key {
    background-image: url(/images/2013/icon-key.png);
}

.joint {
    display: block;
}

.pickup-outer {
    margin: 70px 0;
}

.pickup {
    max-width: 360px;
    margin: 0 auto;
    padding: 0;
    display: table;
}

.pickup-first {
    margin-bottom: 60px;
}

.pickup-inner {
    width: 300px;
    height: 30px;
    padding: 20px 10px;
    background-color: #bbb1a9;
    text-align: center;
    font-size: 90%;
    -webkit-border-radius: 40px;
    -moz-border-radius: 40px;
    border-radius: 40px;
    display: table-cell;
    vertical-align: middle;
}

.pickup-inner a {
    color: #27866f;
}


.pickup-inner a:hover {
    color: #25a888
}

strong {
    color: red;
}
select, textarea, input[type="text"], input[type="password"], input[type="datetime"], input[type="datetime-local"], input[type="date"], input[type="month"], input[type="time"], input[type="week"], input[type="number"], input[type="email"], input[type="url"], input[type="search"], input[type="tel"], input[type="color"], .uneditable-input {
    margin-bottom: 0;
}

.slabtexted .slabtext{
    display:-moz-inline-box;
    display:inline-block
    white-space:nowrap;
}
.slabtextinactive .slabtext{
    display:inline;
    white-space:normal;
    font-size:1em !important;
    letter-spacing:inherit !important;
    word-spacing:inherit !important;
    *letter-spacing:0 !important;
    *word-spacing:0 !important;
}
.slabtextdone .slabtext{
    display:block
}

.bold {
    font-weight: bold;
}

.big {
    font-size: 130%;
    font-weight: bold;
}

.linktotop {
    text-align: right;
}

.notice {
    font-size: 90%;
}

.formtable {
    width: 100%;
}

.formtable th {
    text-align: left;
}


.buttontable {
    text-align: center;
}

.btn-earth {
color: #ffffff;
text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
background-color: #25a888;
background-image: -moz-linear-gradient(top, #2aba97, #22997c);
background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#2aba97), to(#22997c));
background-image: -webkit-linear-gradient(top, #2aba97, #22997c);
background-image: -o-linear-gradient(top, #2aba97, #22997c);
background-image: linear-gradient(to bottom, #2aba97, #22997c);
background-repeat: repeat-x;
border-color: #22997c #22997c #1b7c65;
border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#2aba97', endColorstr='#22997c', GradientType=0);
filter: progid:DXImageTransform.Microsoft.gradient(enabled=false);
}

.btn-earth.active {
  color: rgba(255, 255, 255, 0.75);
}

.btn-earth:hover,
.btn-earth:active,
.btn-earth.active,
.btn-earth.disabled,
.btn-earth[disabled] {
  color: #ffffff;
  background-color: #22997c;
  *background-color: #2da286;
}

.btn-earth:active,
.btn-earth.active {
  background-color: #269076 \9;
}

a:hover img {
    filter: alpha(opacity=70);
    -moz-opacity:0.7;
    opacity:0.7;
}

@media (max-width: 680px) {
    textarea {
        width: 320px;
    }
}

@media (max-width: 600px) {
    .g-nut td {
        font-size: 40px;
        height: 65px;
    }
    textarea {
        width: 220px;
    }
}

@media (max-width: 550px) {
    .g-nut td {
        font-size: 35px;
        height: 60px;
    }
    textarea {
        width: 220px;
    }
}

@media (max-width: 470px) {
    .g-nut td {
        font-size: 24px;
        height: 50px;
    }
    textarea,
    input {
        width: 140px;
    }
    .band .desc {
        margin-left: 0;
    }
    .map {
        margin-left: -30px;
    }
}
