@font-face {
    font-family: 'Uniwerek';
    src: url('/stylesheets/2016/UniwerekLight-webfont.eot');
    src: url('/stylesheets/2016/UniwerekLight-webfont.eot?#iefix') format('embedded-opentype'),
         url('/stylesheets/2016/UniwerekLight-webfont.woff') format('woff'),
         url('/stylesheets/2016/UniwerekLight-webfont.ttf') format('truetype'),
         url('/stylesheets/2016/UniwerekLight-webfont.svg#uniwereklightregular') format('svg');
    font-weight: normal;
    font-style: normal;

}
