@import 'mixin';
body{
	color: #eFefef;
	text-shadow: 0.5px 0.5px 3px #888888;

	font-weight: 200;
}
h2{
	font-family: Uniwerek;
	font-size: 10vw;
	font-weight: 100;
	margin: 10px;
	margin-bottom: 0;
	color: white;
}
a{
	color: #666666;
}
#container{
	#section{
		&-title{
			@include background('gray_sky.jpg');
			h1{
				font-family: Uniwerek;
				font-size: 13vw;
				font-weight: 100;
				width: 80vw;
				margin: 10px;
				color: white;
			}
			p{
				margin: 10px;
			}
		}
		&-band1{
			@include background('band1.jpg');
		}
		&-band2{
			@include background('band2.jpg');
		}
		&-band3{
			@include background('band3.jpg');
		}
		&-band4{
			@include background('band4.jpg');
		}
		&-band5{
			@include background('band5.jpg');
		}
		&-band6{
			@include background('band6.jpg');
		}
		&-band7{
			@include background('band7.jpg');
		}
		&-band8{
			@include background('band8.jpg');
		}
		&-band9{
			@include background('band9.jpg');
		}

		&-landing{
			@include background('blue_sky.jpg');
			.landing-container{
				width: 80vw;
				margin: 0 auto;
				text-align: center;
				h3{
					font-size: 5vw;
					text-align: center;
					font-weight: 100;
					margin: 8px 0;
					@media screen and (min-width: 400px) {
						font-size: 20px;
					}

				}
				.cover{
					font-size: 1vw;
					text-align: center;
				}
			}
		}
		&-about{
			@include background('orange_sky.png');
			h2{
				color: #666666;
			}
			.content{
				color: #666666;
				width: 80%;
				margin: 0 auto;
				font-size: 4vw;
				@media screen and (min-width: 400px) {
					font-size: 20px;
				}
			}
		}
	}
}