@import 'mixin';
body{
	color: #eFefef;
	text-shadow: 0.5px 0.5px 3px #888888;

	font-weight: 200;
}
h2{
	@include Uniwerek;
	font-size: 10vw;
	margin: 10px;
	margin-bottom: 0;
	color: white;
}
a{
	color: #666666;
}
a.twitter{
	display: inline-block;
	background: white;
	@include radius(3px);
	padding: 10px;
	color: #4099ff;
	text-shadow: none;
	margin-left: 10px;
}
a.twitter:hover{
	background: #dddddd;
	color: #333333;
}

ul{
	list-style-type: none;
	padding-left: 0;
}
#container{
	h1.band-name{
		font-size: 10vw;
		text-align: center;
	    opacity: 0.7;
	}
	#section{
		&-title{
			@include background('gray_sky.jpg');
			h1{
				@include Uniwerek;
				font-size: 13vw;
				width: 80vw;
				margin: 10px;
				color: white;
			}
			p{
				margin: 10px;
			}
		}
		&-band1{
			@include background('band1.jpg');
			padding-left: 30px;
			padding-right: 30px;
			.description{
				text-align: center;
				font-weight: 100;
			}
			ul{
				display: flex;
				justify-content: space-around;
			}
			@media screen and (min-width: 910px){
				h1.band-name{
					display: none;
				}
			}
			@media screen and (max-width: 560px){
				ul{
					display: block;
					width: 300px;
				    text-align: center;
				    padding-left: 0;
				    margin: 0 auto;
				}
				.description{
					text-align: left;
				}
			}
		}
		&-band2{
			@include background('band2.jpg');
			padding: 20px;
			h1.band-name{
				font-size: 8vw;
				margin-bottom: 10px;
			}
			.description{
				font-weight: 100;
				margin-bottom: 20px;
			}
			ul{
				background: rgba(255, 255, 255, 0.8);
				@include radius(30px);
				padding: 20px;
			    width: 130px;
			    margin: 0 auto;
			    color: #666666;
			}
		}
		&-band3{
			@include background('band3.jpg');
			h1.band-name{
				font-size: 7vw;
				margin-bottom: 0;
			}
			div.description{
				text-align: center;
				font-size: 4vw;
				font-weight: 700;
			}
			ul.members{
				display: flex;
				justify-content: center;
				font-size: 3vw;
				li{
					margin-right: 30px;
				}
			}
			@media screen and (max-width: 560px){
				ul.members{
					display: block;
					width: 120px;
					margin: 0 auto;
					font-size: 4vw;
					li{
						margin-right: 0;
					}
				}
			}
		}
		&-band4{
			@include background('band4.jpg');
			h1.band-name{
				font-size: 10vw;
			    text-align: center;
			    margin-bottom: 0;
			}
			div.description{
				background: rgba(30, 30, 30, 0.5);
				@include radius(10px);
				width: 80vw;
				padding: 20px;
				margin: 30px auto;
				text-align: center;
			}
			ul.members{
				display: flex;
				justify-content: center;
				li{
					margin-right: 20px;
				}
			}
			@media screen and (max-width: 560px){
				ul.members{
					display: block;
				    width: 150px;
				    margin: 0 auto;
				}
			}
		}
		&-band5{
			@include background('band5.jpg');
			padding-left: 30px;
			padding-right: 30px;
			font-weight: 100;
			h1{
				font-family: serif;
			}
			ul.members{
				display: flex;
				justify-content: center;
			}
			@media screen and (min-width: 745px){
				h1.band-name{
					display: none;
				}
				ul.members{
					justify-content: flex-start;
				}
			}
			@media screen and (max-width: 405px){
				ul.members{
					display: block;
					width: 125px;
 				    margin: 10px auto;
				}
			}
		}
		&-band6{
			@include background('band6.jpg');
			padding-right: 30px;
			padding-left: 30px;
			h1.band-name{
				display: none;
			}
		}
		&-band7{
			@include background('band7.jpg');
			padding-right: 30px;
			padding-left: 30px;
		}
		&-band8{
			@include background('band8.jpg');
			padding-right: 30px;
			padding-left: 30px;
			h1.band-name{
				display: none;
			}
			ul{
			    display: flex;
			    justify-content: space-around;
			    flex-wrap: wrap;
			    li{
			    	margin-right: 10px;
			    }
			}
			@media screen and (max-width: 500px){
				h1.band-name{
					display: block;
					font-size: 30vw;
					font-family: serif;
					margin-bottom: 0;
				}
			}
		}
		&-band9{
			@include background('band9.jpg');
			padding-right: 30px;
			padding-left: 30px;
		}

		&-landing{
			@include background('blue_sky.jpg');
			.landing-container{
				width: 90vw;
				margin: 0 auto;
				text-align: center;
				tr{
					border-bottom: 1px solid #dddddd;
					&:last-child{
						border-bottom: none;
					}
					td.description{
						font-size: 3.5vw;
						a{
							color: #ffffff;
						}
						div:first-child{
							margin-top: 5px;
						}
						div:last-child{
							margin-bottom: 5px;
						}
					}
					td.time{
						font-size: 3vw;
						width: 25vw;
					}
					@media screen and (min-width: 590px){
						td.description a{
							display: -webkit-flex;
							display: -moz-flex;
							display: -ms-flex;
							display: -o-flex;
							display: flex;
							justify-content: center;
							div{
								font-size: 2vw;
							}
							div:first-child{
								margin-top: 0;
								margin-right: 10px;
							}
							div:last-child{
								margin-bottom: 0;
							}
						}
					}
				}
			}
		}
		&-about{
			@include background('orange_sky.png');
			h2{
				color: #666666;
			}
			.content{
				color: #666666;
				width: 80%;
				margin: 0 auto;
				font-size: 4vw;
				@media screen and (min-width: 400px) {
					font-size: 20px;
				}
			}
		}
	}
}