/*
 *= require 2015/_responsive
 */

@import url(http://fonts.googleapis.com/css?family=Passion+One:900);

body {
  background-color: #000;
  color: #fff;
}

a.external::before {
  content: url(/images/2015/landing/icn_link.png);
  margin-right: 10px;
}

#title {
  text-align: center;

  img {
    width: 100%;
    height: auto;
  }
}

.section {
  margin-bottom: 100px;
}

.section-header {
}

.section-body {
  .sub-header {
    font: {
      size: 5rem;
    }
  }
  .section-content {
    font: {
      size: 1.5em;
    }
  }
}
