/*
 *= require 2015/responsive_small
 *= require 2015/responsive_large
 */

@import 'mixin';

body {
  background-color: #000;
  color: #fff;
  font-family: 'Noto Sans Japanese', sans-serif;
}

a.external::after {
  vertical-align: middle;
  content: url(/images/2015/external_link.png);
  margin-left: 5px;
}

#menu {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 70;
  width: 100%;
  margin-left: 5px;
  padding: 0;
  font: {
    size: 0.8rem;
    family: Ubuntu;
  }

  li {
    display: inline-block;
    margin: 5px;
    
    a {
      height: 1rem;
      display: block;
      padding: 5px;
      text-decoration: none;
      text-align: center;
      vertical-align: middle;
      background: rgba(255, 255, 255, 0.2);
      color: #fff;
      -webkit-border-radius: 5px;
      border-radius: 5px;

      &:hover {
        background: rgba(255, 255, 255, 0.5);
      }
    }
  }

  li.active {
    a {
      background: rgba(255, 255, 255, 0.4);

      &:hover {
        background: rgba(255, 255, 255, 0.7);
      }
    }
  }

  li.band {
    width: auto;
  }
}

div.section {
  width: 100%;
}
 
div#title-section {
  @include background('title-section.jpg');
  width: 100%;

  h1 {
    width: 100%;
    text-align: center;
    font: {
      family: Hind;
      weight: 700;
    }
  }

  p.date-and-place {
    width: 100%;
    text-align: center;
    font: {
      family: Ubuntu;
      weight: 400;
    }
  }

  p.info {
    width: 100%;
    text-align:center;
    font: {
      family: Ubuntu;
      weight: 400;
    }
  }
}

div.band {
  width: 100%;

  div.fp-tableCell {
    vertical-align: top;
  }
}

//div#band9-section {
div.band {
  text-shadow: 0 -1px 10px #000, 1px 0 10px #000, 0 1px 10px #000, -1px 0 10px #000;

  div.band-container {
    h2.band-name {
      padding: 0;

      font: {
        family: Hind;
        weight: 700;
      }
    }

    div.description {
      padding: 0;
      font: {
        family: Ubuntu;
        weight: 400;
      }
    }

    div.members {
      font: {
        family: 'Ubuntu Mono', 'Droid Sans Mono';
      }
    }
  }
}

div#band1-section {
  @include background('zakion-bg.jpg');

  .band-container {
    .band-name {
      font-family: 'Passion One', cursive;
    }
  }
}

div#band2-section {
  @include background('wone-bg.jpg');
  background-position: top center;
  color: #555;

  .band-container {
    .band-name {
      font-family: 'Shadows Into Light', cursive;
    }
  } 
}

div#band3-section {
  @include background('ki-bg.jpg');
  color: #daa520;
}

div#band6-section {
  @include background('hogehoge-bg.jpg');
  background-position: top center;

  .band-container {
    .band-name {
      font-family: 'Chewy', cursive;
    }
  }
}

@font-face {
  font-family: mitimasu;
  src: url('mitimasu.ttf');
}

div#band7-section {
  @include background('kimi-bg.jpg');

  .band-container {
    .band-name {
      font-family: mitimasu;
    }
  }
}

div#band9-section {
  @include background('tekere-bg.jpg');
}

div.info {
  width: 100%;
  text-align: center;

  h2 {
    margin-bottom: -10px;
    font: {
      family: Hind;
      weight: 700;
    }
  }

  a {
    color: #9cf;
    text-decoration: none;

    &:hover {
      color: #fff;
    }
  }

  div.content {
    margin-left: auto;
    margin-right: auto;
  }

  ul.pasts {
    li {
      list-style-type: none;
    }
  }
}

div#about-section {
  div.content {
    text-align: left;
  }
}

div#access-section {
}

div#price-section {
}
