/*
 *= require 2018/responsive_small
 *= require 2018/responsive_large
 */

@import '2018/_mixin.css.scss';

body {
  background-color: #fff;
  color: #000055;
  font-family: 'Sawarabi Gothic', sans-serif;
}

.band-container {
  .description{
    iframe{
      max-width:320px;
      width: 100%;
    }
  }
}

a.external::after {
  vertical-align: middle;
  content: url(/images/2018/external.png);
  margin-left: 5px;
}

#menu {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 70;
  width: 100%;
  margin-left: 5px;
  padding: 0;
  font: {
    size: 0.8rem;
    family: Ubuntu;
  }

  li {
    display: inline-block;
    margin: 5px;

    a {
      height: 1rem;
      display: block;
      padding: 5px;
      text-decoration: none;
      text-align: center;
      background: rgba(255, 255, 255, 0.65);
      color: #000055;
      -webkit-border-radius: 5px;
      border-radius: 5px;

      &:hover {
        background: rgba(255, 255, 255, 0.75);
      }
    }
  }

  li.active {
    a {
      background: rgba(255, 255, 255, 0.85);

      &:hover {
        background: rgba(255, 255, 255, 0.9);
      }
    }
  }
}

div.section {
  width: 100%;

  ul.pasts{
    padding: 0;
  }
}

div#title-section {
  @include background('back.png');
  width: 100%;
  text-align: center;

  h1 {
    margin: 0;
    padding: 0;
    width: 100%;
    text-align: center;
    font: {
      family: Ubuntu;
      weight: 700;
    }

    img {
      max-width: 80%;
    }
  }

  p.date-and-place {
    width: 100%;
    text-align: center;
    font: {
      family: Ubuntu;
      weight: 400;
    }
  }

  p.info {
    width: 100%;
    margin: 10px;
    text-align:center;
    font: {
      family: Ubuntu;
      weight: 400;
      size: 1.8em;
    }
  }
}

div.band {
  width: 100%;

  div.fp-tableCell {
    vertical-align: top;
  }
}

/*div#band9-section {
div.band {
  text-shadow: 0 -1px 10px #000, 1px 0 10px #000, 0 1px 10px #000, -1px 0 10px #000;

  div.band-container {
    h2.band-name {
      padding: 0;

      font: {
        family: Hind;
        weight: 700;
      }
    }

    div.description {
      padding: 0;
      font: {
        family: Ubuntu;
        weight: 400;
      }
    }

    div.members {
      font: {
        family: 'Ubuntu Mono', 'Droid Sans Mono';
      }
    }
  }
}*/

div#band1-section {
  @include background-b('band-1.png');

  .band-container {
  }
}

div#band2-section {
  @include background-b('band-2.jpg');
  background-position: top center;
  color: #FFF;

  .band-container {
    .band-name {
      font-family: 'Shadows Into Light', cursive;
    }
  }
}

div#band3-section {
  @include background-b('band-3.jpg');
  .band-name{
    display:none;
  }
  .description{
    text-align: right;
  }
}

div#band4-section {
  @include background-b('band-4.jpg');
  //text-shadow: 0 -1px 10px #ddd, 1px 0 10px #ddd, 0 1px 10px #ddd, -1px 0 10px #ddd;

  .band-container {
    .band-name {
      color: #fff;
      font-family: 'IM Fell Great Primer SC', serif;
    }
  }
}

div#band5-section {
  @include background-b('band-5.png');

  .band-container {
    .band-name {
      font: {
        family: 'Tangerine', cursive;
        weight: 700;
      }
    }
  }
}

div#band6-section {
  @include background-b('band-6.jpg');
  background-position: top center;

  .band-container {
    top:20%;
    .band-name{
      display:none;
    }
    .description{
      text-align: right;
    }
  }
}


div#band7-section {
  @include background-b('band-7.jpg');

  .band-container {
    padding-top: 70%;
    .band-name {
      display:none;
    }

  }
}

div#band8-section {
  @include background-b('band-8.jpg');
}

/*
div#band9-section {
  @include background('band-9.png');
  .band-container {
    .band-name{
      text-align: right;
    }
    .description{
      text-align: right;
    }
  }
}
*/

div.info {
  width: 100%;
  text-align: center;

  h2 {
    margin-bottom: -10px;
    font: {
      family: Dosis;
      weight: 300;
    }
  }

  a {
    color: #006491;
    text-decoration: none;

    &:hover {
      color: #000055;
    }
  }

  div.content {
    margin-left: auto;
    margin-right: auto;
  }

  ul.pasts {
    li {
      list-style-type: none;
    }
  }
}

div#about-section {
  @include background('back.png');

  div.content {
    text-align: left;
  }
}

div#access-section {
  @include background('back.png');
  .map{
    margin: 0 auto;
  }

}

div#price-section {
  @include background('back.png');

}

div#tshirt-section {
  @include background('back.png');

  div.content {
    img {
      width: 25%;
    }
  }

}
