@mixin background($file) {
  background: {
    image: url('../../images/2017/' + $file);
    position: center center;
    repeat: no-repeat;
    size: cover;
  }
}

@mixin vertical-middle {
  position: relative;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}
