---
title: "TOJO K-ON Union Fes '15"
image: "http://unionfes.tojok-on.com/images/2017/landing/img_title.png"
stylesheets:
  - "//fonts.googleapis.com/css?family=Passion+One:400,700,900"
  - "//fonts.googleapis.com/css?family=Hind:700"
  - "//fonts.googleapis.com/css?family=Ubuntu:400,500"
  - "//fonts.googleapis.com/css?family=Droid+Sans+Mono"
  - "//fonts.googleapis.com/css?family=Ubuntu+Mono"
  - "//fonts.googleapis.com/earlyaccess/notosansjapanese.css"
  - "//fonts.googleapis.com/css?family=Sigmar+One"
  - "//fonts.googleapis.com/css?family=Chewy"
  - "//fonts.googleapis.com/css?family=Shadows+Into+Light"
  - "//fonts.googleapis.com/css?family=Tangerine:400,700"
  - "//cdnjs.cloudflare.com/ajax/libs/fullPage.js/2.6.3/jquery.fullPage.min.css"
  - "2017/main.css"
---

div.container#container
  div.section.active#title-section
    / h1 = image_tag "2017/hp.svg", alt: "Union Fes 2017 May 4, 2017 at KURAWOOD"
    / p.info Open 14:30 / Start 15:00
    / p.info Uchiage 20:00 / End 22:00

  - data.y2017.bands.each do |band|
    div.band.section id="#{band["id"]}-section"
      div.band-container
        h2.band-name = band["name"]
        div.description = (band["description"] || "").gsub(/\n/, "<br>")
        div.members
          - part_max_length = length(band["members"].max_by { |m| length(m[0]) }[0]) unless band["members"].empty?
          - name_max_length = length(band["members"].max_by { |m| length(m[1]) }[1]) unless band["members"].empty?
          - band["members"].each do |member|
            div.member
              span.part = member[0].ljust(part_max_length + 1).gsub(/\s/, "&nbsp;")
              span.name = member[1].ljust(name_max_length).gsub(/\s/, "&nbsp;")

  div.info.section#about-section
    h2 About Union Fes
    div.content
      p
        | 筑波大学の軽音サークルTOJO K-ONの過去・現在・未来に関わる全ての人々が世代を超えて全力で楽しむライブイベントです。
      p
        | 今年は2017年5月4日に浅草KURAWOODというライブハウスで開催します。
      p
        | 過去のサイトで今までのUnion Fesの様子を見ることができるので、是非チェックしてみてください！
    ul.pasts
      li = link_to "Union Fes '12", "/2012", target: "_blank"
      li = link_to "Union Fes '13", "/2013", target: "_blank"
      li = link_to "Union Fes '14", "/2014", target: "_blank"

  div.info.section#access-section
    h2 Access to 浅草KURAWOOD
    div.map
      iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d25915.32518033832!2d139.79810700000002!3d35.715995!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x60188ec7fd3949a3%3A0x2273fa87cbac97c!2z5pel5pysLCDjgJIxMTEtMDA0MyDmnbHkuqzpg73lj7DmnbHljLrpp5LlvaLvvJHkuIHnm67vvJPiiJLvvJg!5e0!3m2!1sja!2s!4v1424603047038"
    div.content
      p つくばエクスプレス 浅草駅 から徒歩15分
      p 東京都台東区駒形1丁目3-8 ベッコアメ浅草ビルB1F
      p
        a.external href="http://kurawood.jp/" target="_blank" http://kurawood.jp/

  div.info.section#price-section
    h2 Price
    div.content
      = image_tag "2017/price.svg"
      p 学生: 入場料0円 打上げ2000円
      p 社会人: 入場料1500円 打上げ2000円
      p ドリンク代500円別

  div.info.section#tshirt-section
    h2 T-shirt
    div.content
      a href="http://www.ttrinity.jp/shop/kmdr/"
        = image_tag "2017/tshirt-front.png"
      a href="http://www.ttrinity.jp/shop/kmdr/"
        = image_tag "2017/tshirt-back.png"
      p Union Fes '15 特製Tシャツ販売開始！！
      p
        a href="http://www.ttrinity.jp/product/2168507" 片面黒インク 2,000円
        |  / 
        a href="http://www.ttrinity.jp/product/2168499" 片面白インク 2,600円
      p
        a href="http://www.ttrinity.jp/product/2168502" 両面黒インク 2,500円 
        |  / 
        a href="http://www.ttrinity.jp/product/2168495" 両面白インク 3,700円
      p
        a href="http://www.ttrinity.jp/product/2168504" 両面タイト黒インク 2,600円
        |  / 
        a href="http://www.ttrinity.jp/product/2168491" 両面タイト白インク 3,700円

      p
        a.external href="http://www.ttrinity.jp/shop/kmdr/" 衣装部

ul#menu
  li.active data-menuanchor="title"
    a href="#title" Top
  li data-menuanchor="band1"
    a href="#band1" Band
  li data-menuanchor="about"
    a href="#about" About
  li data-menuanchor="access"
    a href="#access" Access
  li data-menuanchor="price"
    a href="#price" Price
  li data-menuanchor="tshirt"
    a href="#tshirt" T-shirt

  br

  div#bands-menu
    - data.y2017.bands.each do |band|
      li.band data-menuanchor="#{band["id"]}"
        a href="##{band["id"]}" = band["name"]

= javascript_include_tag "//code.jquery.com/jquery-1.11.2.min.js"
/= javascript_include_tag "//maxcdn.bootstrapcdn.com/bootstrap/3.3.2/js/bootstrap.min.js", \
      async: "async", defer: "defer"
= javascript_include_tag "//cdnjs.cloudflare.com/ajax/libs/fullPage.js/2.6.3/jquery.fullPage.min.js"
= javascript_include_tag "2017/main", async: "async", defer: "defer"

