@media screen and (max-width: 1023px) {
    div#title-section h1 img {
        width: 80%;
        height: auto
    }
    #menu li.band {
        display: none
    }
    div.band div.band-container {
        position: relative;
        top: 50%;
        -webkit-transform: translateY(-50%);
        -ms-transform: translateY(-50%);
        transform: translateY(-50%);
        text-align: center;
        padding: 0 3rem
    }
    div.band div.band-container div.members {
        margin: 2rem auto 0 auto
    }
    div.info div.content {
        padding: 0 3rem
    }
    div#access-section h2 {
        margin-bottom: 0.5rem
    }
    div#price-section h2 {
        margin-bottom: 0.5rem
    }
}
